 #main {
            padding: 20px 0px 0px 0px;
            margin: 0 auto;
            font-size: 75%;
            font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
            background-color: #526D9B;
        }
        
        .footer {
            background-color: #7D8DA9;
            height: 100px;
            margin: 0 auto;
            width: 1200px;
            position: relative;
        }
           #bgtop {
            background-image: url('sis_topbg.png');
            padding: 10px;
            width: 100vw;
            background-size: 100% 100%;
            width: 1200px;
            margin: 0 auto;
            position: relative;
        }
        .logout {
            position: absolute;
            right: 10px;
            top: 5px;
            color: white;
            font-size: 15px;
        }
         
        .logout:hover {
            color: red;
        }